/* Tab Widget*/
QTabWidget::pane {
    background: #5883AD;
}

QTabWidget::tab-bar {
    alignment: center;
}

QTabBar::tab {
    border: 1px solid #FFFFFF;
}

QTabBar::tab:selected {
    color: #000000;
    background: #FFD942;
}

QTabBar::tab:!selected {
    color: #FFFFFF;
    background: #486A8C;
}

QTabBar::tab:!selected:hover {
    background: #DEBD3A;
}

QTabBar::tab:top:!selected {
    margin-top: 3px;
}

QTabBar::tab:bottom:!selected {
    margin-bottom: 3px;
}

QTabBar::tab:top, QTabBar::tab:bottom {
    min-width: 8ex;
    margin-right: -1px;
    padding: 5px 10px 5px 10px;
}

QTabBar::tab:top:selected {
    border-bottom-color: none;
}

QTabBar::tab:bottom:selected {
    border-top-color: none;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
    margin-right: 0;
}

QTabBar::tab:left:!selected {
    margin-right: 3px;
}

QTabBar::tab:right:!selected {
    margin-left: 3px;
}

/* Background */
QWidget#display {
    background-color: #5883AD;
}

QGroupBox#backdrop{
    background-color: #FFD942;
    border-radius: 2px;
}

QLabel {
    color: #293155;
    font-family: Arial, sans-serif;
}

/* topGroupBoxBar */
QLabel#numAttractions {
    color: #FFFFFF;
    font: 16px
}



QLabel#sortByLabel {
    color: #FFFFFF;
    font: 15px
}

QComboBox#sorting_QComboBox {
    border: 1px black;
    border-radius: 2px;
}

/* Location details */
QLabel#locationDetailsTitle {
    font: 18px
}

QLabel#enteredLocation {
    font: 16px
}

QComboBox#radius_QComboBox {
    border: 1px black;
    border-radius: 2px;
}

/* Filters (State, City, Type, WC Accessible, Family Friendly, Pet Friendly) */
QLabel#filterByTitle {
    color: #FFFFFF;
    font: 18px
}

QLabel#filters {
    color: #FFFFFF;
    font: 15px;
}

QComboBox#filterComboboxes {
    border: 1px black;
    border-radius: 2px;
}

/* Help menu */
QGroupBox#help_menu_groupBox {
    background: #486A8C;
}

/* scrollArea Objects */
QLabel#attractionName {
    font: 18px
}

QLabel#rating {
    font: 14px
}

QLabel#locationAndDistance {
    font: 14px
}

/* Sources tab text container */
QLabel#sourcesLabel {
    color: #FFFFFF;
    font: 16px
}

QGroupBox#sourcesTextContainer {
    border: 8px solid #FFD942;
}

QPlainTextEdit#sourcesText {
    color: #293155;
    font-family: Arial, sans-serif;
}

/* Documentation window */
QLabel#documentationWindow {
    background: #5883AD;
}

QLabel#documentationTitle {
    color: #FFFFFF;
    font: 16px;
    font-family: Arial, sans-serif;
}

QGroupBox#documentationTextContainer {
    border: 8px solid #FFD942;
}

QLabel#documentation {
    color: #293155;
    font-family: Arial, sans-serif;
}

/* Expanded map window */
QLabel#expanded_map_window {
    background: #5883AD;
}

/* User report window */
QLabel#create_user_report_window {
    background: #5883AD;
}

QLabel#user_report_window_title {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font: 16px;
}

QLabel#user_report_window_field_labels {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font: 14px;
}

QGroupBox#bookmarks_scrollArea_backdrop {
    background: #FFD942;
}




